@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Raleway:wght@100;200;300;400;500;600;700;800;900&family=Space+Grotesk:wght@300;400;500;600;700&display=swap");

@mixin flex($direction) {
  display: flex;
  flex-direction: $direction;
}
h2 {
  text-align: left;
  color: #28bbea;
  font-family: "Montserrat", sans-serif;
  font-size: clamp(26px, 4vw, 36px);
  font-weight: 700;
}
p {
  font-family: "Raleway", sans-serif;
  font-size: clamp(12px, 1vw, 16px);
  font-weight: 500;
}
h4 {
  font-family: "Montserrat", sans-serif;
  font-size: clamp(16px, 1.5vw, 22px);
  font-weight: 600;
}
.About {
  width: 100vw;
  height: auto;
  padding: 55px 0;
  @include flex(column);
  align-items: center;
  @media (min-width: 800px) {
    background-image: url("../../../public/Assets/Images/about/aboutbg.png");
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-size: 30%;
  }
  h2 {
    @media (max-width: 770px) {
      text-align: center;
    }
  }
  p {
    @media (max-width: 770px) {
      text-align: center;
    }
  }
}

.contact-button {
  outline: none;
  border: none !important;
  width: 150px;
  height: 40px;
  background: #28bbea !important;
  color: #000;
  font-family: "Montserrat", sans-serif;
  font-size: clamp(12px, 1.75vw, 14px);
}
.about-left {
  padding: 0 0 0 7vw;
  @media (max-width: 770px) {
    padding: 0 30px 30px 30px;
    align-items: center;
  }
}

.about-img {
  width: 35vw;
  border-radius: 25px 0 25px 25px;
  @media (max-width: 770px) {
    width: 75vw;
  }
}
